# Configuration Next.js

# API Backend URL
NEXT_PUBLIC_API_URL=http://localhost:3000

# Giphy API Key
# Obtenez votre clé API sur: https://developers.giphy.com/
NEXT_PUBLIC_GIPHY_API_KEY=gf0DMgU05OjosHHssrIxutsDT0wd8cRt
